# Directories #
/build/
target/
*/target/
deploy/ 
# OS Files #
.DS_Store
 
*.class
dependency-reduced-pom.xml
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# OSX
######################
 
.DS_Store
 
# Thumbnails
._*
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

#######################################
# IntelliJ specific files/directories #
#######################################
out
.idea
*.ipr
*.iws
*.iml

bin/pkg/*.sh
